-# Be sure to also modify welcome_email.text.haml whenever editing this file

- @image_url = image_url('sendlatericon.png')
- @unsubscribe_url = user_home_url

- content_for :title do
  Welcome #{@user.display_name}!

- content_for :lead do
  Thanks for using Remind To
  = succeed '.' do
    = link_to I18n.t('brand.name'), user_home_url

- content_for :callout do
  %p
    You can use this email to find your scheduled post queue.

- content_for :action_button do
  = link_to 'Get Active', user_home_url
