<div class="row home-hero" style='padding-top: 3em; padding-bottom: 5em'>
  <div class="column small-12 small-centered text-center">
    <h2 class="text-5xl">
      <b><i>A button</i></b> to increase <b>return visits</b>.
    </h2>
    <h3 class="text-3xl max-w-2xl m-auto">
      The missing analytics suite for reader engagement and improving content completion.
    </h3>
    <form class="flex align-center justify-center pt-5">
      <input autocomplete="email" type="email" class="rounded-l-lg p-2 border-t placeholder-gray-800 mr-0 border-b border-l text-black border-black bg-white" placeholder="your@mail.com"/>
      <button class="px-2 pl-6 pr-6 border-l rounded-r-lg bg-black text-white font-bold pt-2 pb-2  border-black border-t border-b border-r">Get started</button>
    </form>
  </div>
</div>