<div class="row home-hero" style='padding-top: 3em; padding-bottom: 5em'>
  <div class="column small-12 small-centered text-center">
    <h2 class="large-10 medium-10 column medium-centered">
      <b>Scheduled reminders</b> for <br><i>your readers</i> on <b>Medium</b>.
    </h2>
    <ul class="button-group text-center" style="display:inline-block; padding-top: 1em; margin-left: auto; margin-right: auto;">
      <li class="small-12 medium-12 large-12 row">
        <%= link_to 'Create your free reminder form', new_user_registration_path, class: "text-center radius button large success", style: "border: 3px solid #1a93f8; font-weight: bold;" %>
      </li>
    </ul>
  </div>
</div>