<div class="row" style='padding-top: 5em; padding-bottom: 5em'>
  <div class="large-12 column text-center">
    <h2>
      <strong>
        Your readers want to come back,<br> so give them a way
      </strong>
    </h2>
    <div class="row">
      <div class="medium-12 column">
        <h3>
          <u>
            See how it works
          </u>
        </h3>
        <blockquote class="embedly-card">
          <h4>
            <a href="https://player.vimeo.com/video/228300349?title=0&byline=0&portrait=0">Remind To demo</a>
          </h4>
          <p>This video shows how remindtoapp com works The example shows how an end-user would interact with a reminder
            form and how a Medium writer could use and customize a form </p>
        </blockquote>
        <script async charset="UTF-8" src="//cdn.embedly.com/widgets/platform.js"></script>
      </div>
    </div>
  </div>
</div>
