  </div>
</div>


<section class="py-12 px-4">
  <div class="w-full max-w-2xl mx-auto text-center">
    <h2 class="text-5xl mt-4 mb-8 leading-tight font-heading">Get started</h2>
      <div class="flex flex-wrap mb-4">
        <div class="w-full">
          <%= link_to 'Start here', new_user_registration_path, class: 'inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded md:rounded-l-none' %>
        </div>
      </div>
  </div>
</section>

<%= render partial: 'layouts/footer' %>

