  </div>
</div>
<div class="large-12 column text-center">
  <div class="text-center">
    <%= image_tag 'ipad_nyr.png' %>
  </div>
</div>
<hr/>
<div class="large-12 bg-color-blue" style='padding-top: 0em; margin-top: -16em; padding-top: 14em;'>
  <div class="row" style='padding-top: 5em;padding-bottom: 3em;'>
    <div class="large-12 column text-center">
      <div class="large-12 medium-10 medium-centered column">
        <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-3">
          <li>
            <div>
              <header class="major">
                <%= image_tag 'reminderemail.png' %>
                <h3>
                  Send reminders
                </h3>
              </header>
            </div>
          </li>
          <li>
            <div>
              <header class="major">
                <%= image_tag 'analytics.png' %>
                <h3>
                  Increase visits
                </h3>
              </header>
            </div>
          <li>
            <div>
              <header class="major">
                <%= image_tag 'calltosubscribe.png' %>
                <h3>
                  Easily export
                </h3>
              </header>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



