<div class="flex mb-16">
  <div class="w-1/3 text-center">
    <header class="major">
      <%= image_tag 'reminderemail.png', { class: 'm-auto' } %>
      <h3 class="text-2xl">
        Send reminders
      </h3>
    </header>
  </div>
  <div class="w-1/3 text-center">
    <header class="major">
      <%= image_tag 'analytics.png', { class: 'm-auto' } %>
      <h3 class="text-2xl">
        Increase article completions
      </h3>
    </header>
  </div>
  <div class="w-1/3 text-center">
    <header class="major">
      <%= image_tag 'calltosubscribe.png', { class: 'm-auto' } %>
      <h3 class="text-2xl">
        Improve value awareness
      </h3>
    </header>
  </div>
</div>


<div class="flex mb-4">
  <div class="w-3/5 pr-4">
    <%= image_tag 'chart.png' %>
  </div>
  <div class="w-2/5">
    <h3 class="text-2xl mb-2">
      Increase number of readers who complete your content
    </h3>
    <h3>
      Reminder emails will bring your users to the exact place they left off. Emails will nudge users back to finish the content.
    </h3>
    <hr class="mb-4 mt-2">
    <h3 class="text-2xl mb-2">
      In-depth analytics on readers 
    </h3>
    <h3>
      Understand what percentage of your content is being read and where your readers drop off. Go beyond the number of visits or the seconds on page. 
    </h3>
    <hr class="mb-4 mt-2">
    <h3 class="text-2xl mb-2">
      Don't collect more data than you need
    </h3>
    <h3 class="mb-6">
      Limit which pages analyze reader activity. Don't unnecessaryily monitor your users.
    </h3>
  </div>
</div>
<hr/>
