<div class="sendlater-container">
  <div class="sendlater-button">
    <button style="border: none;padding: 0px; height: 35px; margin-bottom: 0px;"><img src="<%= image_url 'remindtoread-button.png' %>" style="max-width: 150px;" alt=""></button>
  </div>
<div class="sendlater-email-input">
    <form action="" class="sll-email-form row" style="margin: 1% 0;overflow: auto;">
      <input name="email" type="email" required placeholder="Email" class="sendlater-email-input-field sll-email" style="    box-sizing: border-box;  height: 37px; background: 0;border-radius: 0;font: 16px sans-serif;margin: 0;outline: 0;font-size: 14px;display: block;margin-bottom: 10px;border: 1px solid #ccc;padding: 8px;float: left;width: 158px; max-width: 100%;">
      <input type="submit" value="Remind" class="email-input-submit col c3" style="        background: #1a93f8;  box-sizing: border-box; height: 37px; color: #fff; border-radius: 0;font: 16px sans-serif;margin: 0;outline: 0;font-size: 14px;display: block;margin-bottom: 10px;border: 1px solid #ccc;padding: 8px;float: left; width: 70px; font-weight:800; max-width: 100%;">
    </form>
    <p class="email-more-explain">
      Enter your email address to get a email reminder about this page.
    </p>
  </div>
  <div class="sendlater-time-option">
    <p>Scheduled! Reminder will arrive
      <select class="time-option-change time-option-change-options" style="width: auto;">
        <option value="1 minute" class="visible">now</option>
        <option value="4 hours" class="">in 4 hours</option>
        <option value="12 hours">in 8 hours</option>
        <option value="24 hours">tomorrow</option>
        <option value="72 hours">in 3 days</option>
      </select>
    </p>
  </div>
</div>
