<section class="py-12 px-4 text-center">
    <h2 class="text-5xl mt-2 mb-6 leading-tight font-heading">Background</h2>
  </div>
</section>

<section class="py-8 px-4">
  <div class="flex flex-wrap items-center -mx-2">
    <div class="lg:w-2/5 px-2 lg:pr-16 mb-6 lg:mb-0">
      <p class="">This is an explainer about the background</p>
      <p class="mt-4">Professional, dedicated, local. Dunder Mifflin is on its best patch to change the way you think
        about paper. That&rsquo;s us - people who sell limitless paper in the paperless world.</p>
    </div>
    <div class="lg:w-3/5 px-2 mb-6">
      <p class="text-3xl mb-4">Dunder Mifflin is the way to provide your company an extraordinary paper, sold by
        extraordinary people.</p>
    </div>
  </div>
</section>

<section class="py-8 px-4">
  <div class="flex flex-wrap">
    <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0"><img class="w-24 mb-4" src="images/lab-logo-color-tighter.svg"
        alt="">
      <p class="mb-4">For as long as The New Yorker has existed, its readers have lamented not being able to get through
        everything in the magazine. Everyone from The Onion to Thought Catalog has addressed the scourge of an unread
        stack of magazines, and a group of four anonymous New Yorker fans this summer even started a newsletter
        summarizing the best of each issue.</p>
      <p class="text-sm font-semibold">JOSEPH LICHTERMAN</p>
      <p class="text-sm text-gray-500">Nieman Lab</p>
    </div>
    <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0 md:border-l"><img class="w-24 mb-4"
        src="placeholders/logos/plucky.svg" alt="">
      <p class="mb-4">You know, mistakes happen. In the end, we are only people, right? The Manager recorder an apology
        video for me and gave me 6 months of free products. That&rsquo;s the way you deal with stressful situations.</p>
      <p class="text-sm font-semibold">Barbara Allen</p>
      <p class="text-sm text-gray-500">CFO at Plucky</p>
    </div>
  </div>
</section>