<div class="row">
  <div class="large-8 column medium-8 medium-centered small-11">
    <h1>
      Help & Support
    </h1>
    <p>
      For any questions or compliments, please email at <%= link_to 'lenny@remindtoapp.com', 'mailto://lenny@remindtoapp.com' %>. I'd love to hear from you.
    </p>
  </div>
</div>
