<div class="hidden bg-teal-700 md:block md:border-b">
  <div class="container mx-auto px-4">
    <div class="md:flex">
      <div class="flex -mb-px mr-8">
        <%= link_to user_home_path, class: "no-underline text-white md:text-blue-dark flex items-center py-4 border-b border-blue-dark" do %>
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M3.889 3h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H3.89A.9.9 0 0 1 3 12.09V3.91A.9.9 0 0 1 3.889 3zM3.889 15h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H3.89C3.398 21 3 20.616 3 20.143v-4.286c0-.473.398-.857.889-.857zM13.889 11h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H13.89a.9.9 0 0 1-.889-.91v-8.18a.9.9 0 0 1 .889-.91zM13.889 3h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H13.89C13.398 9 13 8.616 13 8.143V3.857c0-.473.398-.857.889-.857z"/></svg>
          Dashboard
        <% end %>
      </div>
      <div class="flex -mb-px mr-8">
        <%= link_to user_email_templates_path, class: "no-underline text-white opacity-50 md:text-grey-dark md:opacity-100 flex items-center py-4 border-b border-transparent hover:opacity-100 md:hover:border-grey-dark" do %>
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 640" enable-background="new 0 0 512 512" xml:space="preserve"><path d="M448,192V96L352,0H64v192L0,320v192h512V320L448,192z M64,263.563V320H35.781L64,263.563z M320,416H192l-64-96H96v-96V32  h242.75L416,109.25V224v96h-32L320,416z M448,320v-56.438L476.219,320H448z M288,96H128V64h160V96z M352,160H128v-32h224V160z   M128,192h256v32H128V192z M128,256h256v32H128V256z"/></svg>
          Email templates
        <% end %>
      </div>
      <div class="flex -mb-px mr-8">
        <%= link_to install_path, class: "no-underline text-white opacity-50 md:text-grey-dark md:opacity-100 flex items-center py-4 border-b border-transparent hover:opacity-100 md:hover:border-grey-dark" do %>
          <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 12h2v2h9s-.149-4.459-.2-5.854C21.75 6.82 21.275 6 19.8 6h-3.208l-1.197-2.256C15.064 3.121 14.951 3 14.216 3H9.783c-.735 0-.847.121-1.179.744-.165.311-.7 1.318-1.196 2.256H4.199c-1.476 0-1.945.82-2 2.146C2.145 9.473 2 14 2 14h9v-2zM9.649 4.916c.23-.432.308-.516.817-.516h3.067c.509 0 .588.084.816.516L14.924 6h-5.85l.575-1.084zM13 17h-2v-2H2.5s.124 1.797.199 3.322c.031.633.218 1.678 1.8 1.678H19.5c1.582 0 1.765-1.047 1.8-1.678.087-1.568.2-3.322.2-3.322H13v2z" fill-rule="nonzero"/></svg>
          Admin
        <% end %>
      </div>
    </div>
  </div>
</div>