<div class="flex mb-4 -mx-2">
  <div class="w-1/4 bg-gray-400 px-2">
    <!-- Full width column -->
    <%= render 'dash_sidenav' %>
    <!-- <div class="max-w-sm ">
      
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Readers
      </button>
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Email templates
      </button>
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Integrations
      </button>
    </div> -->
  </div>
  <div class="w-3/4 bg-gray-500 px-2">
    <div class="flex">
      <h2 class="font-bold text-2xl mt-4 mb-2">
        Email templates
      </h2>
    </div>
    <div class="flex">
      <div>
        List of emails here
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>