<% if Rails.env.development? %>
  <% base_domain = 'http://localhost:5000/' %>
<% else %>
  <% base_domain = 'https://remindtoapp.com/' %>
<% end %>

<% url = base_domain + "f/"+@account.uid+"?as_embed=true&referrer=https%253A%252F%252Fremindtoapp.com%252Ff%252F"+@account.uid %>

<!-- Narrower side column -->
<div class="flex mb-4 -mx-2">
  <div class="w-1/4 bg-gray-400 px-2">
    <!-- Full width column -->
    <%= render 'dash_sidenav' %>
    <!-- <div class="max-w-sm ">
      
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Readers
      </button>
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Email templates
      </button>
      <button class="mb-4 w-full bg-gray-500 h-12 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Integrations
      </button>
    </div> -->
  </div>
  <div class="w-3/4 bg-gray-500 px-2">
    <div class="flex">
      <h2 class="font-bold text-2xl mt-4 mb-2">
        Dashboard
      </h2>
    </div>
    <div class="flex">
      <div class="mb-4">
        <h3 class="font-bold text-xl mt-4 mb-2">
          Bounce activity
        </h3>
        <div>
          Chart goes here
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="w-1/2 mb-4">
        <h3 class="font-bold text-xl mt-4 mb-2">
          Delayed reminders
        </h3>
        <div>
          Chart of reminders in progress and completed?
        </div>
      </div>
      <div class="w-1/2 mb-4">
        <h3 class="font-bold text-xl mt-4 mb-2">
          Users
        </h3>
        <div>
          <ul class="mb-2">
            <li>
              User 1
            </li>
            <li>
              User 2
            </li>
            <li>
              User 3
            </li>
            <li>
              User 4
            </li>
          </ul>
          <div>
            <a href="" class="font-bold">Click for all users</a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="mb-4">
        <h3 class="font-bold text-xl mt-4 mb-2">
          Page activity
        </h3>
        <div>
          Chart goes here
        </div>
      </div>
    </div>
  </div>
</div>