</div>
</div>

- if Rails.env.development?
  - base_domain = 'http://localhost:3000/'
- else
  - base_domain = 'https://remindtoapp.com/'

- url = base_domain + "f/"+@account.uid+"?as_embed=true&referrer=https%253A%252F%252Fremindtoapp.com%252Ff%252F"+@account.uid

%div.large-4.column.medium-3{style: 'height: 100vh; border-right: 2px solid #efefef; max-width: 400px;'}
  =render 'layouts/side_nav.html.haml'
%div.large-8.column.medium-9
  = render 'layouts/section_nav_bar'
  .row.text-center
    %iframe#player{:allowfullscreen => "true", :frameborder => "0", :scrolling => "no", width: 650, height: 400, :src => url}

  .row
    .medium-12.column
      %hr/
  .row
    .medium-5.column.medium-centered
      .row
        .small-10.columns
          %label
            Your link
      .row.collapse
        .small-10.columns
          %input#copyTarget{:type => "text", :readonly => true, :value => account_embed_url(current_user.account_id)}/
        .small-2.columns
          %button#copyButton.small.button{style: "padding-top: 11px; padding-bottom: 10px;"}
            Copy

= render 'layouts/copy_script'