<div class="flex w-full bg-gray-100 px-4 pt-4 mb-4">
  <div class="w-full">
    <div class="flex w-full ">
      <div class="w-1/2">
        <h1 class="text-2xl">Install</h1>
      </div>
    </div>
    
    <div class="flex mb-4">
      <p>
        Follow the instructions below to install.
      </p>
    </div>
  </div>
</div> 
<div class="flex container mx-auto pb-8 px-4 ">
  <div class="w-2/4">
    <h2 class="font-bold text-xl mt-4 mb-2">
      Account ID
    </h2>
    <div>
      <%= @account.uid %>
    </div>
  </div>
  <div class="w-2/4">
    <h2 class="font-bold text-xl mt-4 mb-2">
      Status
    </h2>
    <div class="text-sm">
      <div>Receiving traffic in past 48 hours.</div>
      <div>0 active users right now. See details in real-time traffic reports.</div>
      <div>Send test trafficTest traffic sent.</div>
    </div>
  </div>
</div>
<div class="mb-3 px-4">
  <div class="w-full lg:max-w-full lg:flex <%= is_domain_blank_class %> mb-3">
    <div class="w-full border-b border-gray-400 lg:border-t lg:border-gray-400  flex flex-col justify-between leading-normal">
      <h2 class="font-bold text-xl mt-4 mb-2">
        Website tracking
      </h2>
      <h2 class="font-bold text-l mt-4 mb-2">
        Global site tag
      </h2>
      <p>
        This is the Readturn Site Tag (readturn.js) tracking code for this property. Copy and paste this code as the first item into the <HEAD> of every webpage you want to track. If you already have a Global Site Tag on your page, simply add the config line from the snippet below to your existing Global Site Tag.
      </p>
      <div class="mt-4 mb-8">
        <%= render 'script_tag' %>
        
      </div>
    </div>
  </div>
</div>