<div class="w-full max-w-2xl self-center content-center">
  <div class="max-w-4xl self-center mx-auto">
    <div class="w-full">
      <div class="flex w-full ">
        <h1 class="text-2xl font-bold"><%= @remind_form.title %></h1>
      </div>
      
      <div class="flex mb-8">
        <div class="max-w-lg mx-auto w-full rounded ">
          <div class="pt-4">
            <div class="font-bold text-xl border-b-2 border-gray-600">Call to action</div>
          </div>
          <div class="px-6 pt-4">
            <div callToActionForm></div>
            <script async src="http://localhost:5000/js/remind.js?target=callToActionForm&shouldBeInline=true&startOpen=false&wasSent=false"></script>
          </div>
        </div>
      </div>


      <div class="flex mb-8">
        <div class="max-w-lg mx-auto w-full rounded ">
          <div class="pt-4">
            <div class="font-bold text-xl border-b-2 border-gray-600">Form</div>
          </div>
          <div class="px-6 pt-4">
            <div elForm></div>
            <script async src="http://localhost:5000/js/remind.js?target=elForm&shouldBeInline=true&startOpen=true&wasSent=false"></script>
          </div>
        </div>
      </div>

      <div class="flex mb-8">
        <div class="max-w-lg mx-auto w-full rounded ">
          <div class="pt-4">
            <div class="font-bold text-xl border-b-2 border-gray-600">Success prompt</div>
          </div>
          <div class="px-6 pt-4">
            <div wasSentForm></div>
            <script async src="http://localhost:5000/js/remind.js?target=wasSentForm&shouldBeInline=true&startOpen=true&wasSent=true"></script>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="flex w-full mb-4">

  </div> 
</div>
