<div class="w-full max-w-2xl self-center content-center">
  <div class="max-w-4xl self-center mx-auto">
    <div class="w-full">
      <div class="flex w-full ">
        <h1 class="text-2xl font-bold"><%= @remind_form.title %></h1>
      </div>
      
      <div class="flex mb-8">
        <div class="max-w-md mx-auto w-full rounded overflow-hidden">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl">Call to action</div>
          </div>
        </div>
      </div>


      <div class="flex mb-8">
        <div class="max-w-md mx-auto w-full rounded overflow-hidden">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl">Form</div>
          </div>
        </div>
      </div>

      <div class="flex mb-8">
        <div class="max-w-md mx-auto w-full rounded overflow-hidden">
          <div class="px-6 pt-4">
            <div class="font-bold text-xl">Success prompt</div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="flex w-full mb-4">

  </div> 
</div>
