<html>
  <body>
    <style>
        <%= render 'widget/button/style.css.erb' %>
        <%= render 'widget/button/mmin.css.erb' %>
    </style>
      <%= render 'widget/button/template' %>
  <script src="//<%= Rails.application.config.settings['env']['BASE_DOMAIN'] %>/widget/ENV['RTR_TOKEN']"></script>
  </body>
</html>
