<footer class="flex flex-wrap flex-col items-center lg:flex-row p-4">
  <div class="flex flex-shrink-0">
    <%= link_to t('brand.name'), root_path, { class: "text-xl text-indigo-500 font-semibold" } %>
  </div>
</footer>