<div id="form-container">
  <!-- Two columns -->
  <div class="flex mb-4">
    <div class="w-1/2 bg-gray-400">
      <h1>
        Lets get you setup!
      </h1>
      <p>
        Build your reminder form below. You can change these later.
      </p>
    </div>
    <div class="w-1/2 bg-gray-500">
      <%= render :partial => 'accounts/form', locals: { type_of_form: "create" } %>
      <style>
        <%= render 'widget/button/style.css' %>
      </style>
      <br>
      <%= render 'template_widget' %>
    </div>
  </div>
</div>




