#form-container{ "data-name" => "example-wrappers"}
  %div.medium-6.column.medium-centered.text-center
    <h1>
      Lets get you setup!
    </h1>
    <p>
      Build your reminder form below. You can change these later.
    </p>
  %div.medium-6.column.panel.callout{style: 'border-color: #eee; background: #fefefe;'}
    <%= render :partial => 'accounts/form', locals: { type_of_form: "create" } %>
  <style>
    <%= render 'widget/button/style.css' %>
  </style>

  %div.medium-6.column{style: 'border-color: #eee; background: #fefefe;'}
    <br>

    <%= render 'template_widget' %>



